## Setup

In [1]:
from statistics import mean
import pandas as pd
import math
import numpy as np
import nltk

from transformacoes.pre_processamento import get_full_df

### Pré-processamento do texto

In [2]:
# Rodar somente se o dataframe total nao tiver sido gerado
# get_full_df(true_path=r"dados\DataSet_Misinfo_TRUE.csv", fake_path=r"dados\DataSet_Misinfo_FAKE.csv")

Lendo os dados brutos

In [3]:
df = pd.read_csv(r"dados\data.csv")

df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78588 entries, 0 to 78587
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   text    78588 non-null  object
 1   flag    78588 non-null  int64
dtypes: int64(1), object(1)
memory usage: 1.2+ MB

                                                text  flag
0  The head of a conservative Republican faction ...     1
1  Transgender people will be allowed for the fir...     1
2  The special counsel investigation of links bet...     1
3  Trump campaign adviser George Papadopoulos tol...     1
4  President Donald Trump called on the U.S. Post...     1

In [28]:
df[df.duplicated('text')]

                                                    text  flag
166    Republicans in the U.S. Congress reached a dea...     1
250    President Donald Trump’s weekend remark about ...     1
445    The U.S. Senate on Thursday delayed voting on ...     1
778    U.S. President Donald Trump arrived in China o...     1
892    U.S. House of Representatives Republicans unve...     1
...                                                  ...   ...
78607  In the village of Starychi, a man’s body was f...     0
78608  In the village of Starychi, a man’s body was f...     0
78609  In the village of Starychi, a man’s body was f...     0
78610  In the village of Starychi, a man’s body was f...     0
78615  The European Parliament falsifies history by d...     0

[10012 rows x 2 columns]

In [30]:
sum(df.duplicated('text'))

10012

In [26]:
df['text'].str.lower()

0        the head of a conservative republican faction ...
1        transgender people will be allowed for the fir...
2        the special counsel investigation of links bet...
3        trump campaign adviser george papadopoulos tol...
4        president donald trump called on the u.s. post...
                               ...
78612    the usa wants to divide syria.\r\n\r\ngreat br...
78613    the ukrainian coup d'etat cost the us nothing ...
78614    the european parliament falsifies history by d...
78615    the european parliament falsifies history by d...
78616    a leading fsb officer, segey beseda, said duri...
Name: text, Length: 78617, dtype: object

In [22]:
print(df['text'][78612])

The USA wants to divide Syria.

Great Britain, France, Germany and other EU and NATO states are to send their own troops and, above all, money to the areas of the north-east of the Euphrates, according to the will of the USA. This should secure the US's strategy, the division of Syria along the Euphrates, in the long term even after a planned partial withdrawal of US troops from the area.

&nbsp;

Obtendo a distribuição de palavras de cada texto

In [10]:
df['text'][1]

'Transgender people will be allowed for the first time to enlist in the U.S. military starting on Monday as ordered by federal courts, the Pentagon said on Friday, after President Donald Trump’s administration decided not to appeal rulings that blocked his transgender ban. Two federal appeals courts, one in Washington and one in Virginia, last week rejected the administration’s request to put on hold orders by lower court judges requiring the military to begin accepting transgender recruits on Jan. 1. A Justice Department official said the administration will not challenge those rulings. “The Department of Defense has announced that it will be releasing an independent study of these issues in the coming weeks. So rather than litigate this interim appeal before that occurs, the administration has decided to wait for DOD’s study and will continue to defend the president’s lawful authority in District Court in the meantime,” the official said, speaking on condition of anonymity. In September, the Pentagon said it had created a panel of senior officials to study how to implement a directive by Trump to prohibit transgender individuals from serving. The Defense Department has until Feb. 21 to submit a plan to Trump. Lawyers representing currently-serving transgender service members and aspiring recruits said they had expected the administration to appeal the rulings to the conservative-majority Supreme Court, but were hoping that would not happen. Pentagon spokeswoman Heather Babb said in a statement: “As mandated by court order, the Department of Defense is prepared to begin accessing transgender applicants for military service Jan. 1. All applicants must meet all accession standards.” Jennifer Levi, a lawyer with gay, lesbian and transgender advocacy group GLAD, called the decision not to appeal “great news.” “I’m hoping it means the government has come to see that there is no way to justify a ban and that it’s not good for the military or our country,” Levi said. Both GLAD and the American Civil Liberties Union represent plaintiffs in the lawsuits filed against the administration. In a move that appealed to his hard-line conservative supporters, Trump announced in July that he would prohibit transgender people from serving in the military, reversing Democratic President Barack Obama’s policy of accepting them. Trump said on Twitter at the time that the military “cannot be burdened with the tremendous medical costs and disruption that transgender in the military would entail.” Four federal judges'

In [30]:
print(mean([len(i.split()) for i in df1['title'].dropna()]))
print(mean([len(i.split()) for i in df1['text'].dropna()]))

12.268218397228122
540.8433455856856

In [35]:
df1.groupby('label').size()

label
0    35028
1    37106
dtype: int64

In [38]:
df3 = pd.concat([pd.read_csv(r"dados\misinformation-fake-news-text-dataset-79k\DataSet_Misinfo_FAKE.csv"), pd.read_csv(r"dados\misinformation-fake-news-text-dataset-79k\DataSet_Misinfo_TRUE.csv")])

df3.info()
df3.head()

<class 'pandas.core.frame.DataFrame'>
Index: 78617 entries, 0 to 34974
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  78617 non-null  int64
 1   text        78588 non-null  object
dtypes: int64(1), object(1)
memory usage: 1.8+ MB

   Unnamed: 0                                               text
0           0  Donald Trump just couldn t wish all Americans ...
1           1  House Intelligence Committee Chairman Devin Nu...
2           2  On Friday, it was revealed that former Milwauk...
3           3  On Christmas day, Donald Trump announced that ...
4           4  Pope Francis used his annual Christmas Day mes...

In [40]:
print(mean([len(i.split()) for i in df3['text'].dropna()]))

479.60370540031556

In [41]:
df3 = pd.concat([pd.read_csv(r"dados\fake-news-detection-datasets\Fake.csv"), pd.read_csv(r"dados\fake-news-detection-datasets\True.csv")])

df3.info()
df3.head()

<class 'pandas.core.frame.DataFrame'>
Index: 44898 entries, 0 to 21416
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    44898 non-null  object
 1   text     44898 non-null  object
 2   subject  44898 non-null  object
 3   date     44898 non-null  object
dtypes: object(4)
memory usage: 1.7+ MB

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"

In [42]:
print(mean([len(i.split()) for i in df3['title'].dropna()]))
print(mean([len(i.split()) for i in df3['text'].dropna()]))

12.453472315025168
405.28228428883244