## Setup

In [ ]:
import os
import pandas as pd
import math
import numpy as np
from statistics import mean
# import nltk
import torch

from transformers import BertTokenizer, BertForSequenceClassification

c:\Users\Gabriel\AppData\Local\Programs\Python\Python311\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

## Pré-processamento do texto

In [85]:
TRUE_PATH = r"dados\True.csv"
FAKE_PATH = r"dados\Fake.csv"
FINAL_PATH = r"dados\Data.csv"

def get_processed_df(true_path: str, fake_path: str, final_path: str):
    """Método que:
    - Une as bases com noticias verdadeiras e falsas
    - Remove linhas com textos vazios
    - Coloca o texto em minúsculo
    - Remove linhas com texto e flag duplicadas
    - Se um texto está duplicado, mantém somente um

    true_path: Caminho da base com as noticias verdadeiras
    fake_path: Caminho da base com as noticias falsas
    final_path: Caminho do .CSV com a base processada
    """
    df_true = pd.read_csv(true_path)
    df_fake = pd.read_csv(fake_path)

    df_true['flag'] = 1
    df_fake['flag'] = 0

    df = pd.concat([df_true, df_fake])
    df = df[~df['title'].isnull()]

    df.drop_duplicates(inplace=True)
    df.drop_duplicates(subset='title', keep=False, inplace=True, ignore_index=True)

    df.to_csv(final_path, index=False)

In [86]:
get_processed_df(true_path=TRUE_PATH, fake_path=FAKE_PATH, final_path=FINAL_PATH)

In [126]:
import pandas as pd
df = pd.read_csv(r"dados\data.csv")

titulo = 'titulo'
flag = 'label'

df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72134 entries, 0 to 72133
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  72134 non-null  int64
 1   title       71576 non-null  object
 2   text        72095 non-null  object
 3   label       72134 non-null  int64
dtypes: int64(2), object(2)
memory usage: 2.2+ MB

,Unnamed: 0,title,text,label
0,0,LAW ENFORCEMENT ON HIGH ALERT Following Threat...,No comment is expected from Barack Obama Membe...,1
1,1,NaN,Did they post their votes for Hillary already?,1
2,2,UNBELIEVABLE! OBAMA’S ATTORNEY GENERAL SAYS MO...,"Now, most of the demonstrators gathered last ...",1
3,3,"Bobby Jindal, raised Hindu, uses story of Chri...",A dozen politically active pastors came here f...,0
4,4,SATAN 2: Russia unvelis an image of its terrif...,"The RS-28 Sarmat missile, dubbed Satan 2, will...",1

In [145]:
from langdetect import detect
from collections import Counter

In [151]:
lingua = []
for idx, title in enumerate(df['title']):
    try:
        lingua.append(detect(title))
    except:
        print(idx)
        lingua.append('error')
        pass

print(Counter(lingua))

786
8709
17718
35080
39091
40841
47261
Counter({'en': 60024, 'de': 817, 'fr': 228, 'es': 208, 'ca': 161, 'ru': 153, 'it': 119, 'nl': 104, 'da': 69, 'af': 67, 'no': 62, 'id': 56, 'ro': 47, 'pt': 40, 'tl': 30, 'sv': 26, 'et': 25, 'ar': 19, 'vi': 16, 'lt': 11, 'tr': 10, 'so': 9, 'error': 7, 'hr': 7, 'cy': 5, 'fi': 5, 'pl': 4, 'sw': 3, 'bg': 3, 'sl': 2, 'el': 2, 'lv': 1, 'fa': 1, 'sq': 1, 'zh-cn': 1})

In [ ]:
df['title'][[786, 8709, 17718, 35080, 39091, 40841, 47261]]

In [199]:
# Linguas corretas: 'ru', 'error', 
lingua_analise = 'zh-cn'
df['title'][[idx for idx, l in enumerate(lingua) if l == lingua_analise]].to_csv('dinamarques.csv')

In [160]:
from transformers import BertTokenizer
import numpy as np

tokenizer = BertTokenizer.from_pretrained('bert-base-uncased', do_lower_case=True)

tamanho = [len(tokenizer.encode(sent, add_special_tokens=True)) for sent in df[titulo]]

In [96]:
print('Min sentence length: ', min(tamanho))
print('Max sentence length: ', max(tamanho))
print('Percentis', np.quantile(tamanho, q=[.1, .2, .3, .4, .5, .6, .7, .8, .9]))
print('Maior que 128: ', 100*sum([i > 128 for i in tamanho])/len(tamanho))
print('Maior que 64: ', 100*sum([i > 64 for i in tamanho])/len(tamanho))
print('Maior que 32: ', 100*sum([i > 32 for i in tamanho])/len(tamanho))

Min sentence length:  3
Max sentence length:  109
Percentis [12. 13. 15. 16. 17. 19. 20. 22. 25.]
Maior que 128:  0.0
Maior que 64:  0.068973260831208
Maior que 32:  2.527950210929856

In [ ]:
sorted(tamanho)[:100]

In [ ]:
[i for i, x in enumerate(tamanho) if x < 11]

In [ ]:
[x for i, x in enumerate(tamanho) if x < 5]

In [181]:
df.loc[[i for i, x in enumerate(tamanho) if x < 5]]#.to_csv('menor_que_8.csv', index=False)

                      title  label
2045         Andrew Maguire      1
3494         Best Forgotten      1
6260                   Wow!      1
11758         Obsolete 2016      1
12598     Strategic Culture      1
13765           The Mothers      1
15768      Democratic Panic      1
18888        Mass Migration      1
19276           Nasty Women      1
22484       Hillary Clinton      1
25757                  EPIC      1
26619             Rick Rule      1
27271      Continental Gold      1
29264                   Rum      1
30029         AMERICAN EVIL      1
31078  Exceptional Handling      1
31900              Homepage      1
35080                     :      1
39323         Young patient      1
41464             Candidate      1
47371      Invisible Nation      1
47600                 White      1
47859           Two leaders      1
48245         : Information      1
49622                Poison      1
53524      Democratic decay      1
54362          USA Election      1
56377              Untitled      1

In [14]:
###########################################################################

In [99]:
sum([i > 64 for i in tamanho])

43

In [15]:
np.quantile(df['tamanho_title'], q=[.1, .2, .3, .4, .5, .6, .7, .8, .9])

array([ 8.,  9., 10., 10., 11., 11., 12., 13., 15.])

In [10]:
mean(df['tamanho_title'])

12.173316327945214

In [17]:
len(df[df['tamanho_texto'] < 500])/len(df)

0.7404077272322621

In [17]:
df = pd.concat([df_true, df_fake], ignore_index=True)

In [18]:
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   text    2000 non-null   object
 1   flag    2000 non-null   int64
dtypes: int64(1), object(1)
memory usage: 31.4+ KB

                                                text  flag
0  The head of a conservative Republican faction ...     0
1  Transgender people will be allowed for the fir...     0
2  The special counsel investigation of links bet...     0
3  Trump campaign adviser George Papadopoulos tol...     0
4  President Donald Trump called on the U.S. Post...     0

In [37]:
df.groupby('flag').size()

flag
0    1000
1    1000
dtype: int64

In [36]:
df = df[~df['text'].isnull()]

In [42]:
df['text'] = df['text'].str.lower()

In [43]:
df['text']

0       the head of a conservative republican faction ...
1       transgender people will be allowed for the fir...
2       the special counsel investigation of links bet...
3       trump campaign adviser george papadopoulos tol...
4       president donald trump called on the u.s. post...
                              ...
1995    not long ago, rep. jason chaffetz (r-utah), sa...
1996    according to a new report, health insurance pr...
1997    the congressional budget office released their...
1998    donald trump was in a room full of irish repor...
1999    donald trump s war on the free press just ente...
Name: text, Length: 2000, dtype: object

In [2]:
# Rodar somente se o dataframe total nao tiver sido gerado
# get_processed_df(true_path=r"dados\DataSet_Misinfo_TRUE.csv", fake_path=r"dados\DataSet_Misinfo_FAKE.csv", final_path=os.path.join(os.path.split(true_path)[0], 'data.csv'))

Lendo os dados brutos

In [3]:
df = pd.read_csv(r"dados\data.csv")

df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78588 entries, 0 to 78587
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   text    78588 non-null  object
 1   flag    78588 non-null  int64
dtypes: int64(1), object(1)
memory usage: 1.2+ MB

                                                text  flag
0  The head of a conservative Republican faction ...     1
1  Transgender people will be allowed for the fir...     1
2  The special counsel investigation of links bet...     1
3  Trump campaign adviser George Papadopoulos tol...     1
4  President Donald Trump called on the U.S. Post...     1

In [40]:
df['text'].str.lower()

0       the head of a conservative republican faction ...
1       transgender people will be allowed for the fir...
2       the special counsel investigation of links bet...
3       trump campaign adviser george papadopoulos tol...
4       president donald trump called on the u.s. post...
                              ...
1995    not long ago, rep. jason chaffetz (r-utah), sa...
1996    according to a new report, health insurance pr...
1997    the congressional budget office released their...
1998    donald trump was in a room full of irish repor...
1999    donald trump s war on the free press just ente...
Name: text, Length: 2000, dtype: object

In [22]:
print(df['text'][78612])

The USA wants to divide Syria.

Great Britain, France, Germany and other EU and NATO states are to send their own troops and, above all, money to the areas of the north-east of the Euphrates, according to the will of the USA. This should secure the US's strategy, the division of Syria along the Euphrates, in the long term even after a planned partial withdrawal of US troops from the area.

&nbsp;

Obtendo a distribuição de palavras de cada texto

In [10]:
df['text'][1]

'Transgender people will be allowed for the first time to enlist in the U.S. military starting on Monday as ordered by federal courts, the Pentagon said on Friday, after President Donald Trump’s administration decided not to appeal rulings that blocked his transgender ban. Two federal appeals courts, one in Washington and one in Virginia, last week rejected the administration’s request to put on hold orders by lower court judges requiring the military to begin accepting transgender recruits on Jan. 1. A Justice Department official said the administration will not challenge those rulings. “The Department of Defense has announced that it will be releasing an independent study of these issues in the coming weeks. So rather than litigate this interim appeal before that occurs, the administration has decided to wait for DOD’s study and will continue to defend the president’s lawful authority in District Court in the meantime,” the official said, speaking on condition of anonymity. In September, the Pentagon said it had created a panel of senior officials to study how to implement a directive by Trump to prohibit transgender individuals from serving. The Defense Department has until Feb. 21 to submit a plan to Trump. Lawyers representing currently-serving transgender service members and aspiring recruits said they had expected the administration to appeal the rulings to the conservative-majority Supreme Court, but were hoping that would not happen. Pentagon spokeswoman Heather Babb said in a statement: “As mandated by court order, the Department of Defense is prepared to begin accessing transgender applicants for military service Jan. 1. All applicants must meet all accession standards.” Jennifer Levi, a lawyer with gay, lesbian and transgender advocacy group GLAD, called the decision not to appeal “great news.” “I’m hoping it means the government has come to see that there is no way to justify a ban and that it’s not good for the military or our country,” Levi said. Both GLAD and the American Civil Liberties Union represent plaintiffs in the lawsuits filed against the administration. In a move that appealed to his hard-line conservative supporters, Trump announced in July that he would prohibit transgender people from serving in the military, reversing Democratic President Barack Obama’s policy of accepting them. Trump said on Twitter at the time that the military “cannot be burdened with the tremendous medical costs and disruption that transgender in the military would entail.” Four federal judges'

In [30]:
print(mean([len(i.split()) for i in df['text'].dropna()]))

12.268218397228122
540.8433455856856

In [35]:
df.groupby('flag').size()

label
0    35028
1    37106
dtype: int64

Importando o modelo pré-treinado

In [3]:
model_name = 'bert-base-uncased'
tokenizer = BertTokenizer.from_pretrained(model_name)
model = BertForSequenceClassification.from_pretrained(model_name, num_labels=2)  # Change num_labels according to your classification task

Some weights of the model checkpoint at bert-base-uncased were not used when initializing BertForSequenceClassification: ['cls.predictions.transform.dense.bias', 'cls.predictions.transform.dense.weight', 'cls.seq_relationship.weight', 'cls.predictions.transform.LayerNorm.bias', 'cls.predictions.bias', 'cls.seq_relationship.bias', 'cls.predictions.transform.LayerNorm.weight']
- This IS expected if you are initializing BertForSequenceClassification from the checkpoint of a model trained on another task or with another architecture (e.g. initializing a BertForSequenceClassification model from a BertForPreTraining model).
- This IS NOT expected if you are initializing BertForSequenceClassification from the checkpoint of a model that you expect to be exactly identical (initializing a BertForSequenceClassification model from a BertForSequenceClassification model).
Some weights of BertForSequenceClassification were not initialized from the model checkpoint at bert-base-uncased and are newly initialized: ['classifier.weight', 'classifier.bias']
You should probably TRAIN this model on a down-stream task to be able to use it for predictions and inference.

In [40]:
# Tokenize and preprocess input text
def preprocess_text(text):
    inputs = tokenizer.encode_plus(
        text,
        add_special_tokens=True,
        truncation=True,
        padding='max_length',
        max_length=512,  # Adjust according to your input length requirements
        return_tensors='pt'
    )
    return inputs

In [47]:
# Example text for classification
text = "á à ã ç é ê õ ñ"
text_print = text.split()
text_print.append('[SEP]')
text_print.insert(0, '[CLS]')

# Preprocess input text
#inputs = preprocess_text(text)
inputs = tokenizer.encode_plus(text)
print(inputs['input_ids'])
print(tokenizer.convert_ids_to_tokens(inputs['input_ids']))
print(text_print)

[101, 1037, 1037, 1037, 1039, 1041, 1041, 1051, 1050, 102]
['[CLS]', 'a', 'a', 'a', 'c', 'e', 'e', 'o', 'n', '[SEP]']
['[CLS]', 'á', 'à', 'ã', 'ç', 'é', 'ê', 'õ', 'ñ', '[SEP]']

In [44]:
'[CLS]' + text.split()

TypeError: can only concatenate str (not "list") to str